body{
    background:white url("../img/R.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: rgb(15, 15, 15);
}

.h1_primeiro{
    text-align: center;
    color: black;
   }


   .h1_titulo{
    background-color: rgba(150, 150, 231, 0.422);
    height: 350px;
    border-radius: 10px;
    border: 3px dashed rgba(255, 255, 255, 0.349);
    box-shadow: 0 0 20px white;
    
}
.h1_titulo:hover{
    box-shadow: 0 0 20px cyan;
}

.h2_frase{
    color: rgba(215, 5, 222, 0.516);
 
}

.h2_titulo:hover{
    box-shadow: 0 0 20px cyan;
}

.h2_titulo{
    color:rgb(11, 12, 4);
    border-radius: 10px;
    box-shadow: 0 0 20px white;   
    border: 3px dashed rgba(255, 255, 255, 0.349);
    

    
}
.h3_frase{
    color:rgba(16, 140, 223, 0.479);
    height: 350px;
    border-radius: 20px;
}
.conteiner{
    display: flex;
    flex-direction: row;
    gap: 25px;
    }